:root {
    --border: 1px solid rgb(0 0 0 / 0.1);
    --heading-background-color: darkblue;
    --padding: 1rem;
    --background-color: #fff;
    --margin: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: 20rem 1fr;
    align-items: center;
}

nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
}

h1 {
    color: steelblue;
    padding: .5rem;
    border-bottom: 1px solid steelblue;
}

main img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;

}

p {
    padding: 0;
    margin: 1rem;
}

aside {
    width: 20em;
    margin: 1rem;
    border: var(--border);
    padding: var(--padding);
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 15px;
    left: 135px;
}

footer {
    margin-top: 15px;
    border-top: var(--border);
    text-align: center;
}

/* Class Selectors */
.box {
    margin: var(--margin);
    border: var(--border);
    padding: var(--padding);
    background-color: #ddd;
    color: #000;
}

.indent {
    padding-left: 2rem;
}